@model DALlab3.Entities.Store

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Demographics)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Demographics)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusinessEntity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BusinessEntity.BusinessEntityId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalesPerson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalesPerson.BusinessEntityId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BusinessEntityId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
